._Index {
  width: 100vw;
  background-color: #fefefe;
  padding: 0 2vw 20vh 2vw;
}

._caruse {
  width: 100%;
  height: 30vh;
  overflow: hidden;
  // background-color: rgba(15, 56, 51, 0.1);
  box-sizing: border-box;
  padding: 2vh 2vw;
}

._item {
  height: 10vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  // background-color: rebeccapurple;
  .svgIcon {
    flex: 1;
    padding: 1vh 1vh;
  }
}

.lsitTitle {
  margin-top: 2vh;
  height: 5vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 2vw;
  position: relative;
  span {
    line-height: 5vh;
  }
  .title {
    font-size: 4.5vw;
    color: #1db589;
  }
  .more {
    position: absolute;
    //display: inline-block;
    right: 3vw;
    color: #6d6f6a;
    font-size: 3vw;
  }
}

._recommend {
  width: 100%;
  height: 128vw;
  overflow: hidden;
  .recItem {
    width: 33%;
    height: 42vw;
    padding: 2vw 2vw;
    box-sizing: border-box;
    float: left;
  }
  .recPick {
    height: 32vw;
    width: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
    .playCount {
      display: inline-block;
      line-height: 3vw;
      background: rgba(26, 3, 3, 0.5);
      border-radius: 12em;
      font-size: 2vw;
      padding: 0.2vh 0.8vw;
      position: absolute;
      bottom: 1vw;
      right: 1vw;
      color: antiquewhite;
      i {
        font-size: 2vw;
      }
    }
  }
  .recName {
    height: 10vw;
    width: 100%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1vw 0;
    line-height: 4.2vw;
    span {
      font-size: 3.5vw;
      font-weight: 500;
      color: rgb(83, 61, 61);
    }
  }
}

.recommendedSong {
  .musicName {
    font-size: 4.5vw;
    margin-left: 2vw;
    color: rgb(83, 61, 61);
  }
  .musicAuto {
    font-size: 4vw;
    color: silver;
  }
}

.recommendedMv {
  overflow: hidden;
  .itemMv {
    width: 50%;
    height: 25vh;
    float: left;
    overflow: hidden;
    padding: 2vh 2vw;
    .mvName {
      overflow: hidden;
      height: 5vw;
      width: 100%;
      white-space: nowrap;
    }
    img {
      width: 100%;
      height: 20vh;
    }
  }
}
