
$playBtn: 18vw;
$nextBtn: 14vw;
$btnColor: none;
._home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #fefefe;
  position: absolute;
  z-index: 4;
  ._homeBtn {
    position: relative;
    background: $btnColor;
    color: #c92323;
    border: $btnColor;
    &::before {
      border-style: none !important;
    }
  }
  ._homeMain {
    height: 70vh;
    width: 100vw;
    padding: 0 5vw 5vh 5vw;
    overflow: hidden;
    .musicHeader {
      width: 100%;
      height: 10vh;
      line-height: 10vh;
    }
    ._musicTitle {
      width: 60%;
      margin: 0 auto;
      overflow: hidden;
      line-height: 5vh;
      .scrollText {
        font-size: 4vw;
        white-space: nowrap;
        display: inline-block;
        animation: wordsLoop 15s linear 0s infinite normal none;
      }
    }
    ._musicCoverBox {
      width: 100%;
      height: 35vh;
      position: relative;
      overflow: hidden;
      ._musicCover {
        $width: 45vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $width;
        height: $width;
        box-shadow: 5px 2px 15px #4e4b4b;
        border-radius: 2%;
        &::after {
          content: "";
          display: block;
          width: 116%;
          height: 116%;
          border-radius: 50%;
          position: absolute;
          top: -8%;
          right: -20%;
          z-index: 1;
          animation: bgRotate 5s linear 0s infinite normal none;
          // animation: 5s bgRotate normal;
          background:
          radial-gradient(circle at 50% 0,
            rgba(255,0,0,.5),
            rgba(255,0,0,0) 70.71%),
          radial-gradient(circle at 6.7% 75%,
            rgba(0,0,255,.5),
            rgba(0,0,255,0) 70.71%),
          radial-gradient(circle at 93.3% 75%,
            rgba(0,255,0,.5),
            rgba(0,255,0,0) 70.71%) beige; 
        }
        img {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: 3;
        }
      }
    }
    ._lyricBox {
      height: 15vh;
      width: 100%;
      overflow: hidden;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .nowLyric {
        font-size: 5vw;
        height: 10vh;
        font-weight: 500;
        color: #856428b0;
      }
      .nextLyric {
        font-size: 4vw;
        height: 5vh;
        color: #6d5b5b;
      }
    }
  }
  ._handleBox {
    height: 30vh;
    width: 100%;
    padding: 5vh 5vw;
    .proGroup {
      height: 5vh;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .layricTime {
        font-size: 1vw;
      }
      .progressBox {
        flex: 1;
      }
    }
    .btnGroup {
      height: 15vh;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .playBtn {
        width: $playBtn;
        height: $playBtn;
        i {
          font-size: 8vw;
        }
      }
      .prevBtn, .nextBtn {
        height: $nextBtn;
        width: $nextBtn;
        i {
          font-size: 5vw;
        }
      }
    }
  }
}

@keyframes wordsLoop {
  0% {
      transform: translateX(200px);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes bgRotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
